
*.DS_Store
*.Rhistory
lesson 2/readings/to be provided with solution/Delacre et al. - 2022 - Correction Why Psychologists Should by Default Us.pdf
lesson 2/readings/to be provided with solution/Delacre et al. - 2017 - Why Psychologists Should by Default Use Welch’s t-.pdf
dev/simulation_condition_switching.rds
dev/simulation_unwarranted_data_exclusion.rds
*.css
*.js
lesson 11/Stosic et al. - Careless Responding Why Many Findings Are Spuriou.pdf
